<div class="project__section --margin-top-s">
    <div class="contact">
        <a href="http://linkedin.com/in/kh4tib" target="_blank" class="js-linkedin" alt="link to linkedin page"
            aria-label="link">👔</a>
        <a href="http://dribbble.com/khatib" target="_blank" class="js-dribbble" alt="link to dribbble page"
            aria-label="link">🏀</a>

    </div>
</div>