<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Primary Meta Tags -->
    <title>fourOfour - Mo Khatib</title>
    <meta name="title" content="fourOfour - Mo Khatib">
    <meta name="description"
    content="I'm a product designer currently building tools that helps forward-looking brands meet their customers' real-time needs.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="fourOfour - Mo Khatib">
    <meta property="og:description"
    content="I'm a product designer currently building tools that helps forward-looking brands meet their customers' real-time needs.">
    <meta property="og:image" content="http://khatib.work/app/images/pages/covers/index_1024x512.png">
    <meta property="og:url" content="http://khatib.work/404.html">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="fourOfour - Mo Khatib">
    <meta property="twitter:description"
    content="I'm a product designer currently building tools that helps forward-looking brands meet their customers' real-time needs.">
    <meta property="twitter:image" content="http://khatib.work/app/images/pages/covers/index_1024x512.png">
    <meta property="twitter:url" content="http://khatib.work/404.html">

    {{> meta}}
    <link rel="stylesheet" href="dist/css/style.min.css">
</head>

<body style="height: 100%;">
<section class="section__not-found">
    <h4>page not found</h4>
    <h1>Congratulations!</h1>
    <p class="description__not-found">You found our 404 page.</p>
    <a href="/index.html"> go to homepage</a>
</section>
<script src="http://khatib.work/dist/js/random-images.js"></script>
<script src="http://khatib.work/dist/js/main.min.js"></script>
</body>
</html>