<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Primary Meta Tags -->
    <title>fourOfour - Mo Khatib</title>
    <meta name="title" content="fourOfour - Mo Khatib">
    <meta name="description"
    content="I'm a product designer currently building tools that helps forward-looking brands meet their customers' real-time needs.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="fourOfour - Mo Khatib">
    <meta property="og:description"
    content="I'm a product designer currently building tools that helps forward-looking brands meet their customers' real-time needs.">
    <meta property="og:image" content="http://khatib.work/app/images/pages/covers/index_1024x512.png">
    <meta property="og:url" content="http://khatib.work/404.html">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="fourOfour - Mo Khatib">
    <meta property="twitter:description"
    content="I'm a product designer currently building tools that helps forward-looking brands meet their customers' real-time needs.">
    <meta property="twitter:image" content="http://khatib.work/app/images/pages/covers/index_1024x512.png">
    <meta property="twitter:url" content="http://khatib.work/404.html">

    {{> meta}}
    <link rel="stylesheet" href="dist/css/style.min.css">
    
</head>

<body style="height: 100%;">
<section class="section__not-found">
        <div class="not-found__content">
        <h4>page not found</h4>
        <h1>We face many decisions in our day-to-day. Here's another one. I tried to make it as simple as possible. Good Luck!</h1>
        <p class="description__not-found"></p>
        <div class="introduction__actions not-found__actions">
            <a class="action__button" onClick="window.location.href=window.location.href"> shuffle gifs</a>
            <a class="action__button" href="/index.html"><div>go to homepage</div></a>
        </div>
    </div>
</section>
<script>
    var randomImageArray = [
    "https://media.giphy.com/media/EimNpKJpihLY4/giphy.gif", 
    "https://media.giphy.com/media/Jalikml2XiUgw/giphy.gif",
    "https://media.giphy.com/media/3oGRFvUEbJdLWlawLu/giphy.gif",
    "https://media.giphy.com/media/NQL7Wuo2JSQSY/giphy.gif",
    "https://media.giphy.com/media/jO161HOYUPKEM/giphy.gif",
    "https://media.giphy.com/media/hEc4k5pN17GZq/giphy.gif",
    "https://media.giphy.com/media/o6gEzCUrEHIas/giphy.gif?cid=ecf05e470fsaapn7pxcmf9ybopzxdoaefuv60zrbrpy1fp09&rid=giphy.gif&ct=g",
    "https://media.giphy.com/media/107SOzgMhW5jKU/giphy.gif?cid=790b7611f9141ac78408ce4762834530b9c74d29792006b1&rid=giphy.gif&ct=g",
    "https://media.giphy.com/media/vvbVmC7mKsvOhlmkSz/giphy-downsized-large.gif?cid=ecf05e471274uhmfqsyr5sukfpj5gq14hip9oodaoi0m8xcz&rid=giphy-downsized-large.gif&ct=g",
];

function getRandomImage(imgAr) {
    var num = Math.floor( Math.random() * imgAr.length );
    var img = imgAr[ num ];
    var imgStr = 'url('+ img + ')';

    var sectionFourOFour = document.querySelector(".section__not-found");
    sectionFourOFour.style.backgroundImage = imgStr;
}

getRandomImage(randomImageArray);
</script>
{{!-- <script src="http://khatib.work/dist/js/random-images.js"></script> --}}
<script src="http://khatib.work/dist/js/main.min.js"></script>
</body>
</html>