<!DOCTYPE html>
<html lang="en">

<!-- Primary Meta Tags -->
<title>Exquisite - Projects - Mo Khatib</title>
<meta name="title" content="Exquisite - Projects - Mo Khatib">
<meta name="description" content="An online magazine that offers quality content on fashion, beauty, culture, and art.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="http://khatib.work/exquisite.html">
<meta property="og:title" content="Exquisite - Projects - Mo Khatib">
<meta property="og:description" content="An online magazine that offers quality content on fashion, beauty, culture, and art.">
<meta property="og:image" content="http://khatib.work/app/images/pages/exquisite-image-1.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="http://khatib.work/exquisite.html">
<meta property="twitter:title" content="Exquisite - Projects - Mo Khatib">
<meta property="twitter:description" content="An online magazine that offers quality content on fashion, beauty, culture, and art.">
<meta property="twitter:image" content="http://khatib.work/app/images/pages/exquisite-image-1.png">

{{> meta}}
<link rel="stylesheet" href="dist/css/style.min.css">
</head>

<body id="--project-theme-exquisite">

    <section class="section__one">
        <div class="one__container">
            {{!-- Top Actions --}}
            <div class="project__section --margin-top-none --position-sticky --index-top">
                <div class="top__options">
                    {{> back-button__project}}
                    {{> toggle-switch}}
                </div>
            </div>
            <div class="project__section">
                <h4>exquisite // Interaction</h4>
                <h1>An online magazine that offers quality content on fashion, beauty, culture, and art.
                </h1>
            </div>
            <div class="project__section">
                <h4 class="--margin-bottom-xs">on behance</h4>
                <a href="https://www.behance.net/gallery/51575209/Exquisite" target="_blank" class="js-exquisite"
                    alt="link to exquisite presentation" aria-label="link">
                    <img class="img__link" src="http://khatib.work/app/images/pages/projects/ex-image-1.png" alt="">
                    <img class="img__link" src="http://khatib.work/app/images/pages/projects/ex-image-2.png" alt="">
                    <img class="img__link" src="http://khatib.work/app/images/pages/projects/ex-image-3.png" alt="">
                    <img class="img__link" src="http://khatib.work/app/images/pages/projects/ex-image-4.png" alt="">
                    <img class="img__link" src="http://khatib.work/app/images/pages/projects/ex-image-5.png" alt="">
                    <img class="img__link" src="http://khatib.work/app/images/pages/projects/ex-image-6.png" alt="">
                    <img class="img__link" src="http://khatib.work/app/images/pages/projects/ex-image-7.png" alt="">
                    


                    </a>
            </div>
        </div>

        {{> one__elements}}
    </section>
    <script src="../dist/js/toggle-modes.js"></script>
    <script src="../dist/js/main.min.js"></script>
</body>

</html>