<!DOCTYPE html>
<html lang="en">

<head>
    <title>mo // product designer</title>
    <!-- Primary Meta Tags -->
    <title>mo // product designer </title>
    <meta name="title" content="mo // product designer ">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://khatib.work/">
    <meta property="og:title" content="mo // product designer ">
    <meta property="og:image" content="http://khatib.work/app/images/pages/covers/home_1200x627px.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://khatib.work/">
    <meta property="twitter:title" content="mo // product designer ">
    <meta property="twitter:image" content="http://khatib.work/app/images/pages/covers/home_1200x627px.png">
    {{> meta}}
    <link rel="stylesheet" href="dist/css/style.min.css">
</head>

<body>
    <section class="section__one">
        <div class="one__container">
            <div class="project__section --margin-top-none --position-sticky --index-top">
                <div class="top__options">
                    <div class="introduction__icon">👋</div>
                    {{> toggle-switch}}
                </div>
            </div>

            {{!-- Introduction --}}
            <div class="project__section --margin-top-none">
                <h1>
                    <br>
                    I'm Mo — a product designer currently building the audience and data management surfaces at
                    Leanplum.
                </h1>

                <div class="introduction__actions">

                    <a class="action__button js-about" href="/about.html" alt="link to about page">
                        <div>about me</div>
                    </a>

                </div>
            </div>

            <div class="project__section">
                {{!-- Projects --}}
                <div class="projects">
                    <div class="projects__header">
                        <h4>projects</h4>
                        <div></div>
                        <a href="/projects.html">see all</a>
                    </div>

                    <a href="/audiences.html" class="humanly__card js-audiences">
                        <h1 class="flex">
                            Audiences
                            <div class="humanly__badge">
                                <h4>new</h4>
                            </div>
                        </h1>
                        <h4 class="post__date">Product Design</h4>
                        <p>The audience management solution in Leanplum that helps marketing teams build, manage, and
                            better understand their diverse audience.
                        </p>
                    </a>

                    <a href="/eve.html" class="humanly__card js-eve">
                        <h1>Eve</h1>
                        <h4 class="post__date">Design System</h4>
                        <p>Essential user interface elements, flexbox based responsive interfaces, pure css components.
                        </p>
                    </a>

                    <a href="/flow.html" class="humanly__card js-flow">
                        <h1>Flow-e</h1>
                        <h4 class="post__date">Product Design</h4>
                        <p>An elegant kanban-like workflow that's combined with the ideas behind inbox zero inside your
                            Gmail and Outlook.</p>
                    </a>
                </div>

                {{!-- Humanly --}}
                {{!-- <div class="--margin-top-l">
                    <div class="projects__header">
                        <h4>writings</h4>
                        <div></div>
                        <a href="/humanly.html">see all</a>
                    </div>
                    <a class="humanly__card js-humanly" href="/humanly/how-eve-was-born.html">
                        <h1>how eve was born</h1>
                        <h4 class="post__date">September 30, 2018</h4>
                        <p>Eve provides basic user interface elements, flexbox based responsive interfaces, pure CSS
                            components.</p>
                    </a>
                </div> --}}
            </div>
            {{> contact}}
        </div>
        {{!-- Side Shapes Animation --}}
        {{> one__elements}}
    </section>
    <script src="dist/js/toggle-modes.js"></script>
    <script src="dist/js/main.min.js"></script>
</body>

</html>